@charset "utf-8";
/* CSS Document */
*{margin:0px;
padding:0px}
#General{
top:0px;
width:1300px;
height:1000px;
background-color:#FFFFFF;}
.Superior{
    width:1300;
    height:250px;
    background-color:#FDF1F1;}
.Encabezado{
	 margin-left:150px;
   }
#Nombre{
    position: absolute;
	margin:auto;
	left: 100px;
	top:265px;
	margin-top:0px;
   width:100px;
   height:50px;
    background-color:#FDF1F1;}
h1{
 text-align:center;
 font-size:40px;
 font-family:verdana;}
h2{
	text-align:center;
	font-size:40px;
 font-family:verdana;
color:darkblue;}
h3{
	text-align:center;
	font-size:30px;
 font-family:verdana;
color:orange;}
p{
	text-align:center;
	font-size:25px;
	margin-left:40px;
}
#menu{
margin-top: 15px;
width:1300px;
height:50px;
background-color:#FDF1F1;}
div ul{
	font-size:20px;
	text-align:center;
	padding-top:15px;
font-color: #000000;
	}

div ul li{
    display:inline;
     padding-left: 0.6em;
     padding-right:0.6em ;

    }
.Medio{
    position: absolute;
	margin:auto;
	left:252px;
	top:320px;
	margin-top:0px;
   width:750px;
   height:500px;}
.gale{
   width:240px;
   height:200px;}
#izquierda { 
  margin-top:200px;
  margin-left:0px;
  margin-right:10px;
  width:250px;
  height:250px;
  background-color:#F0D9B4;}
#derecha{ 
  position: absolute;
		top:400px;
		margin-left:750px;
		margin-right:15px;
		width:300px;
		height:250px;
		background-color:#F0D9B4 ;}
#abajo{
margin-top:450px;
    width:1300;
    height:90px;
    background-color:#FDF1F1;}